@font-face {
    font-family: 'Zalando Sans';
    src: url('/fonts/zalandosans/ZalandoSans-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Zalando Sans';
    src: url('/fonts/zalandosans/ZalandoSans-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

/* Alleen root font variable overschrijven */
:root {
    --font-sans: 'Zalando Sans', sans-serif;
}